{
  "openapi": "3.1.0",
  "info": {
    "title": "MLB API",
    "version": "1.0",
    "description": "MLB API - OpenAPI 3.1 Specification"
  },
  "servers": [
    {
      "url": "https://api.sportsdata.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/v3/mlb/scores/{format}/teams": {
      "get": {
        "description": "Full team information: team name and city, league and division, and colors. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns the teams currently active in the league.",
        "operationId": "mlb_v3_scores_team_profiles___by_active",
        "summary": "Team Profiles - by Active",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/Stadiums": {
      "get": {
        "description": "Returns all stadiums in the league with capacity, surface, latitude/longitude, city and state (and where applicable country.)",
        "operationId": "mlb_v3_scores_stadiums",
        "summary": "Stadiums",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Stadium"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/Games/{season}": {
      "get": {
        "description": "Home and away teams, date and time, season type and week etc. are included. Also includes gameday information. This includes full stadium information (capacity, lat/long, surface etc.), top-line betting information (spread, moneyline, total), weather conditions, and broadcast information.",
        "operationId": "mlb_v3_scores_schedules",
        "summary": "Schedules",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/GamesByDate/{date}": {
      "get": {
        "description": "Full scores and gameday info delivered live and post-game. Live data includes innings, scores, pitch count etc. Gameday info includes referee, weather, TV channel etc.",
        "operationId": "mlb_v3_scores_games___by_date__live___final",
        "summary": "Games - by Date [Live & Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/Players": {
      "get": {
        "description": "Full player bio and details, including injury notes, for all active players.",
        "operationId": "mlb_v3_scores_player_details___by_active",
        "summary": "Player Details - by Active",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/FreeAgents": {
      "get": {
        "description": "Full player bio and details, including injury notes, for all available free agents unattached to a team.",
        "operationId": "mlb_v3_scores_player_details___by_free_agents",
        "summary": "Player Details - by Free Agents",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/Players/{team}": {
      "get": {
        "description": "Full player bio and details, including injury notes, for all available players by team.",
        "operationId": "mlb_v3_scores_players_details___by_team",
        "summary": "Players Details - by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team.\n<br>Examples: <code>SF</code>, <code>NYY</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/TeamGameStatsByDate/{date}": {
      "get": {
        "description": "Returns the box score statistical record team-wide (aggregated from all players) for a given team's game in a given week, both live and post-game.",
        "operationId": "mlb_v3_scores_team_game_stats___by_date__live___final",
        "summary": "Team Game Stats - by Date [Live & Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/TeamSeasonStats/{season}": {
      "get": {
        "description": "Returns all season-long stats (i.e. the season total, not each individual game record) for all teams (aggregated from all players) for a given season.",
        "operationId": "mlb_v3_scores_team_season_stats",
        "summary": "Team Season Stats",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamSeason"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/NewsByDate/{date}": {
      "get": {
        "description": "Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.",
        "operationId": "mlb_v3_scores_news___by_date",
        "summary": "News - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/News": {
      "get": {
        "description": "Basic RotoBaller news feed, with limited stories available - usually 0-1 stories per day. Ideal for test purposes.",
        "operationId": "mlb_v3_scores_news",
        "summary": "News",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/AreAnyGamesInProgress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "mlb_v3_scores_are_games_in_progress",
        "summary": "Are Games In Progress",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/CurrentSeason": {
      "get": {
        "description": "Year of the current season. This value changes at the start of the new league year. For leagues that run over two years, this is the year the season starts, not ends.",
        "operationId": "mlb_v3_scores_season___current",
        "summary": "Season - Current",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/Standings/{season}": {
      "get": {
        "description": "Includes regular season standings in division and league, from which postseason seeding can be derived.",
        "operationId": "mlb_v3_scores_standings",
        "summary": "Standings",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Standing"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/AllTeams": {
      "get": {
        "description": "Full team information: team name and city, league and division, and colors. Also contains basic fantasy info such as IDs as well as full stadium data. This endpoint returns all teams regardless of current active status.",
        "operationId": "mlb_v3_scores_team_profiles___all",
        "summary": "Team Profiles - All",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}": {
      "get": {
        "description": "Game by game log of total team statistics.",
        "operationId": "mlb_v3_scores_team_game_logs___by_season",
        "summary": "Team Game Logs - by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Season to get games from. Example <code>2019POST</code>, <code>2020</code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "teamid",
            "in": "path",
            "description": "Unique ID of team.  Example <code> 12 </code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "numberofgames",
            "in": "path",
            "description": "How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/SchedulesBasic/{season}": {
      "get": {
        "description": "A lightweight schedule endpoint without gameday information. Home and away teams, the date and time of the game, and season type, week etc. are included. Ideal for the most basic information required to build a schedule.",
        "operationId": "mlb_v3_scores_schedules__basic",
        "summary": "Schedules (Basic)",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScheduleBasic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/PlayersBasic/{team}": {
      "get": {
        "description": "A more stripped-down list of players on a given team, for simple applications.",
        "operationId": "mlb_v3_scores_player_profiles___by_team",
        "summary": "Player Profiles - by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team.\n<br>Examples: <code>SF</code>, <code>NYY</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerBasic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/ScoresBasic/{date}": {
      "get": {
        "description": "This endpoint simply delivers the innings count and total score live; no down and distance and no gameday info such as weather.",
        "operationId": "mlb_v3_scores_games__basic____by_date__live___final",
        "summary": "Games (Basic) - by Date [Live & Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoreBasic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/PlayersByActive": {
      "get": {
        "description": "A more stripped-down list of players on a given team, for simple applications, including all active players.",
        "operationId": "mlb_v3_scores_player_profiles___by_active",
        "summary": "Player Profiles - by Active",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerBasic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/PlayersByFreeAgents": {
      "get": {
        "description": "A more stripped-down list of players on a given team, for simple applications, sorted by free agents.",
        "operationId": "mlb_v3_scores_player_profiles___by_free_agents",
        "summary": "Player Profiles - by Free Agents",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerBasic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/ScoresBasicFinal/{date}": {
      "get": {
        "description": "A slimmed-down score endpoint, giving just the innings scores and final score, for simple applications. Delivered after the game ends.",
        "operationId": "mlb_v3_scores_games__basic____by_date__final",
        "summary": "Games (Basic) - by Date [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScoreBasic"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/GamesByDateFinal/{date}": {
      "get": {
        "description": "Full scores and gameday info, including weather, referee, infotainment odds, as well as all of the innings scores and full-time score, delivered as the game ends.",
        "operationId": "mlb_v3_scores_games___by_date__final",
        "summary": "Games - by Date [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/TeamGameStatsByDateFinal/{date}": {
      "get": {
        "description": "Returns the box score statistical record team-wide (aggregated from all players) for all games on a given date after the game has concluded.",
        "operationId": "mlb_v3_scores_team_game_stats___by_date__final",
        "summary": "Team Game Stats - by Date [Final]",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/teams/{season}": {
      "get": {
        "description": "List of teams playing in a specified season, with their profile info.",
        "operationId": "mlb_v3_scores_team_profiles___by_season",
        "summary": "Team Profiles - by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "\n          Year of the season and the season type. If no season type is provided, then the default is regular season.\n          <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/scores/{format}/TransactionsByDate/{date}": {
      "get": {
        "description": "A list of transactions, such as assignments, placement on the injury list, player trades etc., delivered by date.",
        "operationId": "mlb_v3_scores_transactions",
        "summary": "Transactions",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the news.\n<br>Examples: <code>2015-JUL-31</code>, <code>2015-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Transaction"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Scores"
        ]
      }
    },
    "/v3/mlb/projections/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "description": "SportsDataIO's proprietary projections, including DFS salary information and injuries, for fantasy players, called by date.",
        "operationId": "mlb_v3_projections_projected_player_game_stats___by_date",
        "summary": "Projected Player Game Stats - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/PlayerSeasonProjectionStats/{season}": {
      "get": {
        "description": "SportsDataIO's proprietary projections, including average draft position, for all active players for the season.",
        "operationId": "mlb_v3_projections_projected_player_season_stats_with_adp",
        "summary": "Projected Player Season Stats With ADP",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season.\n<br>Examples: <code>2017</code>, <code>2018</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PlayerSeasonProjection"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "description": "Returns DFS Slates which have not yet started for which we have DFS projections.",
        "operationId": "mlb_v3_projections_dfs_slates___by_date",
        "summary": "DFS Slates - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the slates.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/InjuredPlayers": {
      "get": {
        "description": "This endpoint provides all currently injured MLB players, along with injury details.",
        "operationId": "mlb_v3_projections_player_details___by_injured",
        "summary": "Player Details - by Injured",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/StartingLineupsByDate/{date}": {
      "get": {
        "description": "Returns both projected and confirmed starting lineups for all games on a given date.",
        "operationId": "mlb_v3_projections_starting_lineups___by_date",
        "summary": "Starting Lineups - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the slates.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StartingLineups"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/DepthCharts": {
      "get": {
        "description": "Returns Depth Charts for all active MLB teams.",
        "operationId": "mlb_v3_projections_depth_charts",
        "summary": "Depth Charts",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TeamDepthChart"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/DfsSlateOwnershipProjectionsBySlateID/{slateId}": {
      "get": {
        "description": "Slate Ownership Projections for a specific slate. Projections are for Guaranteed Prize Pool (GPP) format ownership. Will return an empty list if the slate is not yet projected or not a slate we have projections for.",
        "operationId": "mlb_v3_projections_dfs_slate_ownership_projections___by_slate",
        "summary": "DFS Slate Ownership Projections - by Slate",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "slateId",
            "in": "path",
            "description": "SlateID of the DFS Slate you wish to get ownership projections for. Will have an empty SlateOwnershipProjections if this slate was not projected",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DfsSlateWithOwnershipProjection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/projections/{format}/UpcomingDfsSlateOwnershipProjections": {
      "get": {
        "description": "Returns DFS Slates which have not yet started for which we have DFS Ownership projections.",
        "operationId": "mlb_v3_projections_dfs_slate_ownership_projections___upcoming",
        "summary": "DFS Slate Ownership Projections - Upcoming",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DfsSlateWithOwnershipProjection"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Projections"
        ]
      }
    },
    "/v3/mlb/news-rotoballer/{format}/RotoBallerPremiumNews": {
      "get": {
        "description": "RotoBaller's Premium News feed, with the latest updated stories in greater detail.",
        "operationId": "mlb_v3_news_rotoballer_premium_news",
        "summary": "Premium News",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 RotoBaller Premium News"
        ]
      }
    },
    "/v3/mlb/news-rotoballer/{format}/RotoBallerPremiumNewsByDate/{date}": {
      "get": {
        "description": "RotoBaller's Premium News feed, with the latest updated stories in greater detail called by date.",
        "operationId": "mlb_v3_news_rotoballer_premium_news___by_date",
        "summary": "Premium News - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/News"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 RotoBaller Premium News"
        ]
      }
    },
    "/v3/mlb/odds/{format}/GameOddsByDate/{date}": {
      "get": {
        "description": "Returns full game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement.",
        "operationId": "mlb_v3_odds_pre_game_odds___by_date",
        "summary": "Pre-Game Odds - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/GameOddsLineMovement/{gameid}": {
      "get": {
        "description": "Returns the non-full-game odds (spread, moneyline, total) for games in a given week and season. Non-full-game means 1st-half or 1st-quarter, for example, rather than full game. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.",
        "operationId": "mlb_v3_odds_pre_game_odds_line_movement",
        "summary": "Pre-Game Odds Line Movement",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>51735</code> or <code>51745</code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/LiveGameOddsByDate/{date}": {
      "get": {
        "description": "Returns in-play game odds (spread, moneyline, total) for games on a given date. Only returns the most recently seen odds, not inclusive of line movement. As this is in-game, it will only return results while the game is in progress.",
        "operationId": "mlb_v3_odds_in_game_odds___by_date",
        "summary": "In-Game Odds - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/LiveGameOddsLineMovement/{gameid}": {
      "get": {
        "description": "Returns in-play game odds (spread, moneyline, total) for games on a given date. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.",
        "operationId": "mlb_v3_odds_in_game_odds_line_movement",
        "summary": "In-Game Odds Line Movement",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>51735</code> or <code>51745</code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/AlternateMarketGameOddsByDate/{date}": {
      "get": {
        "description": "Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means first five innings, for example, rather than full game. Only returns the most recently seen odds, not inclusive of line movement.",
        "operationId": "mlb_v3_odds_period_game_odds___by_date",
        "summary": "Period Game Odds - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s). <br>Examples: <code>2018-06-20</code>, <code>2018-06-23</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/AlternateMarketGameOddsLineMovement/{gameid}": {
      "get": {
        "description": "Returns the non-full-game odds (spread, moneyline, total) for games on a given date. Non-full-game means first five innings, for example, rather than full game. Returns the full line movement for the given game. This endpoint has a longer cache as it is meant for historical data/line movement rather than the most up to the second line.",
        "operationId": "mlb_v3_odds_period_game_odds_line_movement",
        "summary": "Period Game Odds Line Movement",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "gameid",
            "in": "path",
            "description": "The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>51735</code> or <code>51745</code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GameInfo"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/TeamTrends/{team}": {
      "get": {
        "description": "Describes recent team trends and performance against betting data in recent sets of games.",
        "operationId": "mlb_v3_odds_betting_trends___by_team",
        "summary": "Betting Trends - by Team",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamTrends"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/MatchupTrends/{team}/{opponent}": {
      "get": {
        "description": "Returns trends data for a given pairing of teams. Will return data even if the teams are not set to play this season. Intended for use on a specific game, though it will work for other comparisons if applicable.",
        "operationId": "mlb_v3_odds_betting_trends___by_matchup",
        "summary": "Betting Trends - by Matchup",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "team",
            "in": "path",
            "description": "The abbreviation of the requested team. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "opponent",
            "in": "path",
            "description": "The abbreviation of the requested opponent. <br> Examples: <code>PHI</code>, <code>MIN</code>, <code>DET</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatchupTrends"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingEventsByDate/{date}": {
      "get": {
        "description": "The list of current BettingEvents for the given date, from which Betting Market data can be gathered via the Betting Markets by Event endpoint, for all available Betting Market types (e.g. Player Props, Team Props.)",
        "operationId": "mlb_v3_odds_betting_events___by_date",
        "summary": "Betting Events - by Date",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date of the game(s). <br>Examples: <code>2020-08-20</code>, <code>2020-08-23</code>.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BettingEvent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingEvents/{season}": {
      "get": {
        "description": "The list of current BettingEvents for the given season, from which Betting Market data can be gathered via the Betting Markets by Event endpoint, for all available Betting Market types (e.g. Player Props, Team Props.)",
        "operationId": "mlb_v3_odds_betting_events___by_season",
        "summary": "Betting Events - by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season (with optional season type).<br>Examples: <code>2020</code>, <code>2020PRE</code>, <code>2020POST</code>, <code>2020STAR</code>, <code>2021</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BettingEvent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingFuturesBySeason/{season}": {
      "get": {
        "description": "Returns available Futures markets for the given season. Does not include line movement.",
        "operationId": "mlb_v3_odds_betting_futures___by_season",
        "summary": "Betting Futures - by Season",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "season",
            "in": "path",
            "description": "Year of the season (with optional season type).<br>Examples: <code>2020</code>, <code>2020PRE</code>, <code>2020POST</code>, <code>2020STAR</code>, <code>2021</code>, etc.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BettingEvent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingMarkets/{eventId}": {
      "get": {
        "description": "Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given BettingEventID.",
        "operationId": "mlb_v3_odds_betting_markets___by_event",
        "summary": "Betting Markets - by Event",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it's cached for much longer than available. <br><br>",
            "schema": {
              "type": "string",
              "enum": [
                "available",
                "unlisted"
              ],
              "default": "available"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BettingMarket"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingMarket/{marketId}": {
      "get": {
        "description": "Returns full line movement for a given BettingMarket. Due to the sheer size of the output and the level of detail, it is intended for historical data purposes and not for the most up-to-the-second lines.",
        "operationId": "mlb_v3_odds_betting_market",
        "summary": "Betting Market",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "The MarketId of the desired market for which to pull all outcomes/bets.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BettingMarket"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingMarketsByMarketType/{eventId}/{marketTypeID}": {
      "get": {
        "description": "Returns Markets and available outcomes for a given event and market type requested. A lighter call than by BettingEventID as it only includes markets tagged with the specific MarketType, a full list of which is available for each sport in its Betting Metadata endpoint.",
        "operationId": "mlb_v3_odds_betting_markets___by_market_type",
        "summary": "Betting Markets - by Market Type",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "The EventId of the desired event/game for which to pull all betting markets (includes outcomes/bets).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "marketTypeID",
            "in": "path",
            "description": "The Market Type ID of the desired MarketTypes to pull. Some common types include: <code>1</code> for Game Lines, <code>2</code> for Player Props, <code>3</code> for Team Props, <code>6</code> for Game Props",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it's cached for much longer than available. <br><br>",
            "schema": {
              "type": "string",
              "enum": [
                "available",
                "unlisted"
              ],
              "default": "available"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BettingMarket"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingMarketsByGameID/{gameID}": {
      "get": {
        "description": "Returns the markets of all available types (e.g. Player Props, Team Props) and available outcomes for a given GameID.",
        "operationId": "mlb_v3_odds_betting_markets___by_game",
        "summary": "Betting Markets - by Game",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "gameID",
            "in": "path",
            "description": "The GameID of the desired game for which to pull all betting markets (includes outcomes/bets).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "This parameter indicates which <code>BettingOutcome</code> records to return in the payload. By default, this endpoint only returns available outcomes, excluding the unlisted bets. <br><br><b>Important Note:</b> the default parameter of <code>available</code> is much faster and provides the best performance. Passing unlisted will return unlisted odds, but these are cached for much longer and may be several minutes old. For best performance, the default parameter is highly recommended. <br><br>Possible values include: <br><br><code>available</code> - excludes any betting outcomes that have been removed/unlisted by the respective sportsbook. This is more lightweight and delivers odds much faster than using unlisted. <br><br><code>unlisted</code> - includes the most recently available betting outcome per sportsbook, for each listed market, even those outcomes are expired/unlisted or otherwise unavailable from the respective sportsbook. This is a far heavier payload, and it's cached for much longer than available. <br><br>",
            "schema": {
              "type": "string",
              "enum": [
                "available",
                "unlisted"
              ],
              "default": "available"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BettingMarket"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingMetadata": {
      "get": {
        "description": "Returns the list of MarketTypes, BetTypes, PeriodTypes, OutcomeTypes, and ResultTypes to map the IDs to descriptive names. Also includes a list of the MarketType, BetType & PeriodType combinations which we will have resulting for.",
        "operationId": "mlb_v3_odds_betting_metadata",
        "summary": "Betting Metadata",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BettingEntityMetadataCollection"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/ActiveSportsbooks": {
      "get": {
        "description": "A list of all available sportsbooks with their associated unique IDs.",
        "operationId": "mlb_v3_odds_sportsbooks___by_active",
        "summary": "Sportsbooks - by Active",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sportsbook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
        "tags": [
          "MLB v3 Odds"
        ]
      }
    },
    "/v3/mlb/odds/{format}/BettingMarketResults/{marketId}": {
      "get": {
        "description": "Returns all outcomes under this market which have a result type associated. Will return empty list if resulting has not yet processed for the given game. Resulting processes shortly after game closing.",
        "operationId": "mlb_v3_odds_betting_results___by_market",
        "summary": "Betting Results - by Market",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "description": "Desired response format. Valid entries are <code>JSON</code> or <code>XML</code>.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JSON",
                "XML"
              ],
              "default": "JSON"
            }
          },
          {
            "name": "marketId",
            "in": "path",
            "description": "The MarketId of the desired market for which to pull all outcomes/bets. Valid IDs include <code>837872</code>, <code>841068</code>",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BettingMarketResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        },
[...]
